main {
  display: flex;
  flex-direction: column;
}

.video-section {
  margin-top: 5rem;
  text-align: center;
}

.video {
  border-radius: 5px;
  max-width: calc(100vw - 100px);
}

.categories-section {
  margin-top: 5rem;
  position: relative;
  padding: 5rem;
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1699204126/studiophotocreation/backgroundEdited_t8yr5d.webp');
  background-color: var(--black);
  height: 200vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  background-color: var(--grey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-h1 {
  font-size: 3rem;
  color: var(--white);
  font-family: 'Playfair Display', serif;
}

.contact-a {
  color: var(--white);
  padding: 8px 16px;
  margin-top: 5rem;
  width: fit-content;
  font-size: 1.5rem;
  border: 2px solid var(--white);
  transition: background-color var(--trans-norm);
}

.contact-a:where(:hover, :focus) {
  background-color: var(--black);
}
