main {
  display: flex;
  flex-direction: column;
}

.video-section {
  margin-top: 5rem;
  text-align: center;
}

.video {
  border-radius: 5px;
  max-width: calc(100vw - 100px);
}

.categories-section {
  margin-top: 5rem;
  position: relative;
  padding: 5rem;
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1699204126/studiophotocreation/backgroundEdited_t8yr5d.webp');
  background-color: var(--black);
  height: 200vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  background-image: url('./SPC_0012_shk4fz.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: var(--grey);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  gap: 25%;
}

.contact-h1 {
  font-size: 3rem;
  color: var(--white);
  font-family: 'Playfair Display', serif;
  padding-top: -20%;
}

.contact-a {
  color: var(--white);
  background-color: var(--black);
  padding: 8px 16px;
  width: fit-content;
  font-size: 1.5rem;
  border: 2px solid var(--white);
  transition: background-color var(--trans-norm);
}

.contact-a:where(:hover, :focus) {
  background-color: var(--grey);
}

@media only screen and (max-device-width: 50em) {
  .categories-section {
    background-image: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    height: fit-content;
  }
  .contact-h1 {
    font-size: 2rem;
  }
}
