.footer-section {
  background-color: var(--white);
  padding: 1rem;
  text-align: center;
  color: var(--black);
}

.footer-a {
  color: var(--grey);
  transition: 0.2s;
  text-decoration: underline;
}

.footer-a:where(:hover, :focus) {
  color: var(--black);
}
