.hamburger {
  display: none;
  cursor: pointer;
  background: transparent;
}

.bar {
  display: block;
  width: max(4rem, 5vw);
  height: 6px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

@media only screen and (max-width: 50em) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
