header {
  z-index: 99;
}

.nav-img-div {
  text-align: center;
}

.nav-img {
  width: 350px;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  height: 1.5rem;
}

.nav-li {
  border: none;
  transition: all ease-in-out var(--trans-norm);
  position: relative;
}

.nav-li:where(:hover, :focus) {
  border: none;
}

.navlink {
  color: var(--black);
  font-size: 1.1rem;
}

.nav-li::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: var(--black);
  transition: all ease-in-out var(--trans-norm);
}
.nav-li:hover::after {
  width: 100%;
  left: 0;
}
