@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --white: #f7f7f7;
  --black: #202020;
  --red: #be0000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
  font-family: 'Playfair Display', serif;
  background-color: var(--white);
}

main {
  display: flex;
}
