@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --white: #f7f7f7;
  --black: #202020;
  --grey: #d8d8d8;
  --trans-norm: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
  font-family: 'Playfair Display', serif;
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 50em) {
  main {
    flex-direction: column;
  }
}
